@import '../../styles/variables.module.scss';

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &.alignStart {
    align-items: flex-start;
  }

  &.alignCenter {
    align-items: center;
  }

  &.alignEnd {
    align-items: flex-end;
  }
}

.dropdownMenu {
  background-color: $dropdown-bgd;
  color: $primary-color;
  min-width: 100%;
  position: absolute;
  box-shadow: $dropdown-shadow;
  z-index: 20;

  &.top {
    bottom: 100%;
    border-bottom: 1px solid $secondary-border;
  }

  &.bottom {
    top: 100%;
    border-top: 1px solid $secondary-border;
  }
}

.dropdownIcon {
  & > img {
    transition: transform 250ms;
  }

  &.open {
    & > img {
      transform: rotate(180deg);
    }
  }
}

.dropdownMenuItem {
  padding: $space-xs;
  border-bottom: 1px solid $dropdown-border-color;

  &.clickable {
    cursor: pointer;
  }
}
