@import '../../styles/variables.scss';

.dropdown {
  position: relative;
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &.start {
    align-items: flex-start;
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: flex-end;
  }
}

.dropdown-menu {
  background-color: $dropdown-bgd;
  color: $primary-color;
  min-width: 100%;
  position: absolute;
  top: 100%;
  box-shadow: $dropdown-shadow;
  z-index: 20;
  border-top: 1px solid $secondary-border;
}

.dropdown-icon {
  margin-left: $space-sm;

  & > img {
    transition: transform 250ms;
  }

  &._open {
    & > img {
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu-item {
  padding: $space-xs;
  border-bottom: 1px solid $dropdown-border-color;

  &._clickable {
    cursor: pointer;
  }
}
