@import '../../styles/variables.scss';

.tag {
  display: inline-block;
  font-size: $text-xsmall;
  line-height: 14px;
  font-weight: 500;
  color: $primary-color;
  padding: 6px $space-xs;
  border-radius: 0 4px 4px 0;
  border: 1px solid $secondary-border;

  &.primary {
    background-color: $secondary-black-color;
  }

  &.secondary {
    background-color: transparent;
  }
}
