@import '../../../styles/variables.module.scss';

.proposalItem {
  border-top: 1px solid $black-line-color;
  padding-top: $space-md;
  padding-bottom: $space-lg;

  @media (min-width: $min-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.proposalItemWrapper {
  max-width: calc(100% - 330px);
  font-weight: 500;
  padding-right: $space-xxxl;
  box-sizing: border-box;

  @media (max-width: $max-xl) {
    max-width: calc(100% - 280px);
    padding-right: $space-xl;
  }

  @media (max-width: $max-md) {
    max-width: none;
    padding-right: 0;
  }
}

.proposalItemTitle {
  margin-bottom: $space-md;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media (max-width: $max-md) {
    margin-bottom: $space-md;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }
}

.proposalItemVoteId {
  color: $tertiary-color;
  margin-right: $space-xs;
}

.proposalItemVoterStates {
  color: $primary-color;
}

.proposalItemSubtitle {
  display: flex;
  align-items: center;
}

.proposalItemBox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;

  &.mobile {
    margin-bottom: $space-xxs;

    @media (min-width: $min-lg) {
      display: none;
    }
  }

  &.desktop {
    min-width: 220px;
    padding-right: $space-md;
    box-sizing: border-box;

    @media (max-width: $max-xl) {
      min-width: 210px;
    }

    @media (max-width: $max-lg) {
      display: none;
    }
  }
}

.proposalItemTag {
  margin-left: $space-md;
}

.proposalVoteBar {
  max-width: 330px;
  width: 100%;
  display: flex;
  align-items: center;

  @media (max-width: $max-xl) {
    max-width: 280px;
  }

  @media (max-width: $max-md) {
    max-width: none;
    margin-top: $space-xl;
  }

  @media (min-width: $min-md) {
    & > * {
      margin-right: $space-lg;
    }

    & > *:last-child {
      margin-right: 0;
    }
  }
}

.proposalVoteArrow {
  @media (max-width: $max-md) {
    display: none;
  }
}

.noProposals {
  color: $tertiary-color;
  text-align: center;
  margin: 15vh 15vw;
  transform: translateY(-50%);
  font-size: $text-small;

  & > * {
    margin-right: $space-xs;
  }

  & > *:last-child {
    margin-right: 0;
  }
}
