@import '../../styles/variables.module.scss';
@import '../../styles/mixins.scss';

.inputWrapper {
  display: inline-block;
  max-width: 100%;
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  &.block {
    width: 100%;
    .input,
    input {
      width: 100%;
    }
  }
}

.input {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  &.textCenter {
    input {
      text-align: center;
    }
  }
  input {
    @include input-autofill;
    min-width: 50px;
    background-color: transparent;
    color: $secondary-color;
    font-weight: 500;
    border-width: 0;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }

  input {
    &:focus {
      color: $primary-color;
    }
    &::placeholder {
      color: $tertiary-color;
    }
  }

  &.normal {
    input {
      font-size: $text-small;
      line-height: 24px;
    }
    & > div {
      font-size: $text-small !important;
    }
  }

  &.large {
    input {
      font-size: $text-xlarge;
      line-height: 44px;
    }
    & > div {
      font-size: $text-xlarge !important;
    }
  }
}

.inputUnderline {
  height: 1px;
  width: 100%;
  background-color: $secondary-border;
}
