@import '../../styles/variables.module.scss';

.inputWrapper {
  display: inline-block;
  max-width: 100%;
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  &.block {
    width: 100%;
    .input,
    input {
      width: 100%;
    }
  }
}

.input {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  &.textCenter {
    input {
      text-align: center;
    }
  }
  input {
    min-width: 50px;
    background-color: transparent;
    color: $secondary-color;
    font-weight: 500;
    border-width: 0;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }

  input {
    &:focus {
      color: $primary-color;
    }
    &::placeholder {
      color: $tertiary-color;
    }
  }

  &.normal {
    input {
      font-size: $text-small;
      line-height: 24px;
    }
    & > div {
      font-size: $text-small !important;
    }
  }

  &.large {
    input {
      font-size: $text-xlarge;
      line-height: 44px;
    }
    & > div {
      font-size: $text-xlarge !important;
    }
  }
}

.inputUnderline {
  height: 1px;
  width: 100%;
  background-color: $secondary-border;
}

// removing input background color/text color for Chrome autocomplete
.input {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #030303 inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
  }
}
