@import '../../styles/variables.module.scss';
@import '../../styles/fonts.module.scss';

.inputWrapper {
  display: inline-block;
  max-width: 100%;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  &.block {
    width: 100%;
    .input,
    input {
      width: 100%;
    }
  }
}

@mixin normal {
  @include font-heading-7;
}

@mixin large {
  @include font-heading-4;
}

.input {
  display: inline-block;
  max-width: 100%;

  &.textCenter {
    input {
      text-align: center;
    }
  }

  input {
    min-width: 50px;
    background-color: transparent;
    color: $color-dark-blue-400;
    border-width: 0;
    outline: none;

    &:focus {
      color: $color-dark-blue-400;
    }

    &::placeholder {
      color: $color-dark-blue-400;
    }
  }

  &.normal {
    input {
      @include normal;
    }
  }

  &.large {
    input {
      @include large;
    }
  }

  &:not(.normal):not(.large) {
    input {
      @include normal;
    }

    @media (min-width: $sm) {
      input {
        @include large;
      }
    }
  }
}

// removing input background color/text color for Chrome autocomplete
.input {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #030303 inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
  }
}
