@import '../../styles/variables.module.scss';
@import '../../styles/mixins.scss';

.container {
  padding-bottom: 5px;
  border-bottom: 1px solid $secondary-color;
}

.input {
  @include input-autofill;
  display: inline-block;
  background-color: transparent;
  color: $secondary-color;
  font-size: $text-large;
  line-height: 44px;
  height: 44px;
  width: 100%;
  font-weight: 400;
  border-width: 0;
  outline: none;

  &:focus {
    box-shadow: none;
    color: $primary-color;
  }

  &::placeholder {
    color: $tertiary-color;
    opacity: 1;
  }
}
