@import '../../styles/variables.module.scss';

.policyList {
  padding: 0;
  list-style: none;
}

.policyItem {
  border-top: 1px solid $black-line-color;

  @media (min-width: $min-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.policyItemMain {
  flex-grow: 1;
  font-weight: 500;
  box-sizing: border-box;
  padding-top: $space-md;
  padding-bottom: $space-md;
  padding-right: 0;

  @media (min-width: $min-md) {
    max-width: calc(100% - 180px);
    padding-right: $space-xxxl;
  }

  @media (min-width: $min-lg) {
    padding-bottom: $space-lg;
  }

  @media (min-width: $min-xl) {
    padding-right: $space-xl;
  }
}

.policyItemTitle {
  display: block;
  margin-bottom: $space-md;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $primary-color;
  text-decoration: none;
}

.policyItemInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 52ch;
  font-size: $text-xsmall;
  line-height: $lh-xsmall;
  margin-top: -0.75rem;

  @media (min-width: $min-lg) {
    margin-top: 0;
  }

  & > *:first-child {
    width: 10ch;
  }
}

.infoEntry {
  display: flex;
  flex-direction: column;
  width: 40%;
  @media (min-width: $min-lg) {
    flex-direction: row;
    gap: 1ch;
  }
}

.policyItemAction {
  display: flex;
  align-items: center;
  font-weight: 500;

  button {
    display: none;
    white-space: nowrap;
  }

  a {
    display: none;
  }

  @media (min-width: $min-md) {
    button {
      display: inline-block;
    }

    a {
      display: flex;
      align-items: center;
      margin-left: $space-md;
    }
  }
}
