@import '../../styles/variables.module.scss';

.policyList {
  padding: 0;
  list-style: none;
}

.policyItem {
  border-top: 1px solid $black-line-color;
  padding-top: $space-md;
  padding-bottom: $space-lg;

  @media (min-width: $min-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.policyItemMain {
  max-width: calc(100% - 330px);
  font-weight: 500;
  padding-right: $space-xxxl;
  box-sizing: border-box;

  @media (max-width: $max-xl) {
    max-width: calc(100% - 280px);
    padding-right: $space-xl;
  }

  @media (max-width: $max-md) {
    max-width: none;
    padding-right: 0;
  }
}

.policyItemTitle {
  display: block;
  margin-bottom: $space-md;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $primary-color;
  text-decoration: none;
}

.policyItemInfo {
  display: flex;
  align-items: center;
  font-size: $text-xsmall;
  line-height: $lh-xsmall;

  & > * {
    margin-right: $space-xxl;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.policyItemArrow {
  display: flex;
  align-items: center;
  font-weight: 500;

  a {
    display: none;
    @media (min-width: $min-md) {
      display: flex;
      align-items: center;
      margin-left: $space-md;
    }
  }
}
