@import '../../styles/variables.module.scss';

.connectedStatus {
  display: flex;
  align-items: flex-start;
}

.connectedStatusInfo {
  margin: 0 $space-md;
}

.dark {
  color: $black-color;
}

.mobileMenuButton {
  width: 100%;
  button {
    width: 100%;
    color: $secondary-black-color;
  }
}

.mobileMenuConnectedStatus {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: $space-lg;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.hideSignInStatus {
  @media (max-width: $max-sm) {
    display: none;
  }
}

.fullWidthMobile {
  @media (max-width: $max-sm) {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

.unsupportedNetworkIcon {
  margin: $space-lg;
}

.availableAccountButton {
  button {
    height: unset !important;
  }
}

.availableAccounts {
  @media (max-width: $max-sm) {
    margin: 0;
    padding: 0;
  }
}
