@import '../../styles/variables.module.scss';

.buttonWrapper {
  display: inline-block;
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $button-color;
  border-width: 1px;
  border-style: solid;
  outline: none;
  cursor: pointer;

  &.primary {
    border-image-source: $primary-border;
    border-image-slice: 1;
  }

  &.secondary {
    border-color: $secondary-border;
  }

  &.normal {
    font-size: $text-small;
    line-height: $lh-small;
    padding: 17px $space-lg;

    @media (max-width: $max-md) {
      padding: $space-md;
    }
  }

  &.large {
    font-size: $text-normal;
    line-height: 22px;
    padding: 20px 44px;

    @media (max-width: $max-md) {
      font-size: $text-small;
      padding: $space-md $space-xl;
    }
  }

  &.link {
    color: $link-color;
    border: 0;
    text-decoration: underline;
    padding: 0;
  }

  &.text {
    border: 0;
    text-decoration: underline;
    padding: 0;
  }
}

.buttonUnderline {
  margin-top: $space-xxs;
  height: 1px;
  width: 100%;
  &.primary {
    background: linear-gradient(to left, $green-color, $violet-color);
  }
  &.secondary {
    background-color: $secondary-border;
  }
}
