@import '../../../styles/variables.module.scss';

.tokenAmountFormToken {
  font-weight: 500;
  margin-bottom: $space-lg;
  text-transform: uppercase;
}

.tokenFormBalance {
  margin-top: $space-xl;
}

.tokenAmountFormActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tokenAmountFormApprove {
  margin-right: $space-lg;
}

.tokenAmountFormError {
  margin-top: $space-xl;
  color: $error-color;
  text-align: center;
}

.tokenAmountFormHelperText {
  margin-top: $space-xl;
  color: $secondary-color;
  text-align: center;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maxButton {
  button {
    margin: 0 0 0 $space-sm;
  }
}

.cancelButton {
  margin-right: $space-lg;
}
