@import '../../../styles/variables.scss';

.tokenAmountForm-token {
  margin-bottom: $space-lg;
  text-transform: uppercase;
}

.tokenDepositForm-balance {
  margin-top: $space-lg;
}

.tokenAmountForm-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tokenAmountForm-approve {
  margin-right: $space-lg;
}

.tokenAmountForm-error {
  margin-top: $space-xl;
  color: red;
}
