@import '../../styles/variables.module.scss';

.menu {
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;

  & > * {
    margin-bottom: $space-md;
    text-decoration: none;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .menuItemText {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.menuActiveItem {
  cursor: default;

  .menuItem,
  .menuItemText {
    color: $green-color;
  }
  .menuActiveLine {
    display: block;
  }
}

.menuItem {
  position: relative;
  display: flex;
  align-items: center;
  color: $primary-color;
}

.menuActiveLine {
  position: absolute;
  left: -40px;
  display: none;
  width: 2px;
  height: 40px;
  background-color: $green-color;
}

.menuItemText {
  opacity: 0;
  transform: translateX(-100%);
  padding-left: $space-xs;
  transition: transform 350ms, opacity 350ms;
}
