@import '../../styles/variables.module.scss';
@import '../../styles/fonts.module.scss';

.menu {
  display: none;

  @media (min-width: $md) {
    display: flex;
    flex-direction: column;
  }

  & > * {
    text-decoration: none;
  }
}

.menuIcon {
  cursor: pointer;
}

.navLink {
  border-left: 2px solid transparent;
}

.activeNavLink {
  cursor: default;
  border-left: 2px solid $color-blue-500;

  .menuItem,
  .menuItemText,
  .menuMobileItemText,
  .menuMobileItem svg {
    color: $color-blue-500;
  }
}

.menuItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 42px;
  height: 40px;
  color: $color-dark-blue-400;
}

.menuItemText {
  padding-left: $space-xs;
  @include font-link-2;

  @media (max-width: $max-lg) {
    display: none;
    padding-left: unset;
  }
}

.mobileMenuWrapper {
  display: flex;
  align-items: center;

  @media (min-width: $md) {
    display: none;
  }
}

.mobileMenu {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 350ms;
  box-sizing: border-box;

  &.open {
    transform: translateX(0);
  }
}

.mobileMenuHeader {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-lg;
}

.mobileMenuScrollWrap {
  height: calc(100% - 77px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: $space-lg;
  box-sizing: border-box;
}

.mobileMenuContent {
  box-sizing: border-box;
  padding-top: $space-xxxl;
  padding-bottom: $space-xxl;

  & > * {
    color: $black-color;
    text-decoration: none;
  }

  svg {
    color: $secondary-black-color;
  }
}

.mobileMenuFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding-top: $space-md;
  box-sizing: border-box;

  &.borderTop {
    border-top: 1px solid $secondary-color;
  }
}

.menuMobileItem {
  display: flex;
  align-items: center;
  margin-bottom: $space-lg;
}

.menuMobileItemText {
  font-size: $heading-5;
  line-height: 44px;
  font-weight: 600;
  margin-left: $space-lg;
  text-decoration: none;
}

.menuIconWrapper {
  display: flex;
  align-items: center;

  & > * {
    margin-right: $space-sm;
  }

  & > *:last-child {
    margin-right: 0;
  }
}
