@import '../../../styles/variables.module.scss';

$border-radius: 100px;

.voteSlider {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.barWrapper {
  flex: 1;
  margin-left: $space-sm;
  margin-right: $space-sm;
}

.barNames {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2 * $space-xl $space-sm;
}

.bar {
  position: relative;
  height: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $black-line-color;
  border-radius: $border-radius;
  padding: 0 2px;
  box-sizing: border-box;
}

.acceptanceQuorum {
  position: absolute;
  display: flex;
  width: 1px;
  height: calc(100% - 6px);
  background-color: $black-line-color;
}

.for {
  height: calc(100% - 4px);
  border-radius: $border-radius;
  background: $green-color;
}

.against {
  height: calc(100% - 4px);
  border-radius: $border-radius;
  background: $pink-color;
  margin-left: auto;
}

.grayOut {
  background-color: rgba(255, 255, 255, 0.4);
}

.voteInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-weight: 500;
}

.status {
  text-transform: capitalize;

  &.failing {
    color: $pink-color;
  }

  &.passing {
    color: $green-color;
  }
}

.votedAgainst {
  color: $pink-color;
}

.votedFor {
  color: $green-color;
}

.large {
  margin-top: $space-xxl;
}

.icon {
  margin: 0 $space-sm;
  height: 25px;
}

.voteIcon {
  height: 8px;
  margin-top: 5px;

  &.large {
    height: 16px;
    margin-top: 1px;
  }
}
