@import '../../styles/variables.scss';

.bordered-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > * {
    margin-right: $space-xxl;
  }
  & > *:last-child {
    margin-right: 0;
  }
}
