@import '../../../../styles/variables.module.scss';

.voteForm {
  text-align: center;
}

.voteFormContent {
  margin-top: $space-xxxl;
  margin-bottom: 2 * $space-xxl;
  display: flex;
  justify-content: center;
}
