@import '../../styles/variables.module.scss';

.container {
  max-width: 60ch;
  color: $secondary-color;
  font-size: $text-small;
  line-height: 24px;

  @media (min-width: $min-sm) {
    font-size: $text-normal;
    line-height: $lh-normal;
  }

  a {
    font-weight: 500;
  }
}

.termsIntro {
  font-weight: 600;
  margin-bottom: $space-sm;
}

.terms {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: $space-sm;
  }
}

.instructionsContainer {
  padding-left: 20px;
}

.instructions {
  padding: 0;
  margin-top: $space-xxl;
  margin-bottom: $space-xxl;
  color: $primary-color;

  li {
    margin-bottom: $space-xxl;
    &::marker {
      font-weight: 600;
    }
  }
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
}

.button {
  font-weight: 500;
  width: 100%;

  @media (min-width: $min-sm) {
    width: 18ch;
  }
}
