@import '../../styles/variables.module.scss';

.container {
  max-width: 60ch;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: $tertiary-color;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $min-sm) {
    font-size: $text-normal;
    line-height: $lh-normal;
  }

  li {
    margin-bottom: $space-xxl;
  }

  p:first-child {
    font-weight: 600;
  }
}

.description {
  margin-top: 6px;
  color: $secondary-color;
  font-size: $text-small;

  @media (min-width: $min-sm) {
    font-size: 16px;
  }
}

.confirmValue,
.usdConfirmValue {
  color: $primary-color;
  font-weight: 400;
  margin-top: 20px;
  word-break: break-word;
}

.usdConfirmValue {
  font-size: $text-large;
  line-height: $lh-large;
}

.buttonRow {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  font-weight: 500;
  width: 100%;

  @media (min-width: $min-sm) {
    width: 20ch;
  }
}
