@import '../../styles/variables.module.scss';

.heading {
  margin-bottom: $space-xxxl;
  word-break: break-word;
}

.subHeading {
  margin-bottom: $space-xl;
}

.successContainer {
  margin: 0 auto;
  max-width: 70ch;
  word-break: break-word;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $min-sm) {
    text-align: center;
    font-size: $text-normal;
    line-height: $lh-normal;
  }

  .subHeading {
    color: $secondary-color;
    margin-top: $space-xxxl;
  }

  p {
    margin-bottom: $space-md;
  }
}

.processMessage {
  font-size: $text-small;
  color: $secondary-color;
  margin: 0 auto;

  @media (min-width: $min-sm) {
    text-align: center;
    font-size: 16px;
    line-height: $lh-normal;
  }

  a {
    font-weight: 500;
  }
}

.homeLink {
  display: inline-flex;
  margin-top: 44px;
  font-weight: 500;
}
