@import '../../styles/variables.module.scss';

.container {
  max-width: 60ch;
  padding-left: 1.5ch;
}

.fieldList {
  padding: 0;

  li {
    margin-top: $space-xxxl;
    &::marker {
      font-weight: 500;
    }
  }

  label,
  p:first-child {
    font-weight: 500;
  }
}

.usdInput {
  padding-top: 5px;
  @media (min-width: $min-md) {
    max-width: 50%;
  }
}

.validation {
  color: $error-color;
  font-size: $text-small;
}

.helpText {
  color: $secondary-color;
  font-size: $text-small;
}

.confirmValue {
  margin-top: 10px;
}

.buttonRow {
  margin-top: $space-xxxl;
  display: flex;
  align-items: center;
  gap: 2rem;
}
