@import '../../styles/variables.module.scss';

.container {
  max-width: 60ch;
  padding-left: 1.5ch;
}

.fieldList {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $min-sm) {
    font-size: $text-normal;
    line-height: $lh-normal;
  }

  li {
    margin-bottom: $space-xxl;
    &::marker {
      font-weight: 600;
    }
  }

  label {
    font-weight: 600;
  }

  input {
    text-overflow: ellipsis;
  }
}

.description {
  margin-top: 6px;
  margin-bottom: $space-md;
  color: $secondary-color;
  font-size: $text-small;

  @media (min-width: $min-sm) {
    font-size: 16px;
  }
}

.usdInput {
  padding-top: 5px;
  @media (min-width: $min-md) {
    max-width: 50%;
  }
}

.validation {
  color: $error-color;
  font-size: $text-small;
  font-weight: 400;
}

.helpText {
  color: $secondary-color;
  font-size: $text-small;
}

.acknowledgement {
  color: $secondary-color;
  font-size: $text-small;
  line-height: 24px;
}

.buttonRow {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
}

.nextButton {
  font-weight: 500;
  width: 100%;

  @media (min-width: $min-sm) {
    width: 18ch;
  }
}
