@import '../../styles/variables.module.scss';
@import '../../styles/fonts.module.scss';

.timer {
  display: inline-flex;
  align-items: center;
  @include font-body-14;

  &.large {
    flex-direction: column;

    @media (min-width: $min-md) {
      align-items: flex-end;
    }

    @media (max-width: $max-md) {
      align-items: flex-start;
    }

    @media (max-width: $max-xs) {
      display: block;
    }

    .timerContainer {
      border-top: 1px solid $secondary-black-color;
      border-bottom: 1px solid $secondary-black-color;
      padding-top: $space-xs;
      padding-bottom: 2px;
      margin-top: $space-xxs;
      margin-right: 0;
      margin-left: 0;

      @media (max-width: $max-xs) {
        justify-content: center;
      }
    }

    .timerNumber {
      font-size: $text-large;
    }

    .timerWrap {
      min-width: 35px;
      flex-direction: column;
      margin: 0;

      & > * {
        margin-right: 0;
      }
    }

    .timerColon {
      font-size: $text-large;
      margin: 0 $space-xs;
    }
  }
}

.status {
  color: $color-dark-blue-100;
}

.timerNumber {
  color: $color-dark-blue-400;
}

.timerColon {
  margin: 0 4px;
  color: $color-dark-blue-50;
}

.unit {
  color: $color-dark-blue-50;
}

.timerContainer {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.timerWrap {
  display: flex;
  gap: 4px;
}

.timedOutNumber {
  color: $color-dark-blue-50;
}
