h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-size: 136px;
  line-height: 164px;
  font-weight: 600;
}

h2 {
  font-size: 91px;
  line-height: 104px;
  font-weight: 600;
}

h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

h4 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
}

h5 {
  font-size: 27px;
  line-height: 35px;
  font-weight: 300;
}

.text-normal {
  font-size: 18px;
  line-height: 28px;
}

.text-large {
  font-size: 27px;
  line-height: 40px;
}

.text-xlarge {
  font-size: 40px;
  line-height: 52px;
}

.text-small {
  font-size: 14px;
  line-height: 17px;
}

.text-xsmall {
  font-size: 12px;
  line-height: 14px;
}

.primary-color {
  color: #fff;
}

.secondary-color {
  color: #c3c4c3;
}

.tertiary-color {
  color: #878888;
}

.green-color {
  color: #7ce3cb;
}

.uppercase {
  text-transform: uppercase;
}

.medium {
  font-weight: 500;
}
