// COLORS
$background-gradient: linear-gradient(22.13deg, #000000 68.91%, #252726 100%);
$primary-color: #fff;
$secondary-color: #c3c4c3;
$tertiary-color: #878888;
$link-color: #7ce3cb;
$green-color: #7ce3cb;
$violet-color: #7963b2;
$pink-color: #d233f2;
$primary-border: linear-gradient(to left, $green-color, $violet-color);
$secondary-border: $tertiary-color;

// FONT-SIZES
$heading-1: 136px;
$heading-2: 91px;
$heading-3: 50px;
$heading-4: 40px;
$heading-5: 27px;
$text-xlarge: 40px;
$text-large: 27px;
$text-normal: 18px;
$text-small: 14px;
$text-xsmall: 12px;

// SPACINGS
$space-xxl: 40px;
$space-xl: 32px;
$space-lg: 24px;
$space-md: 16px;
$space-sm: 12px;
$space-xs: 8px;
$space-xxs: 4px;
