// COLORS
$primary-color: #fff;
$secondary-color: #c3c4c3;
$tertiary-color: #878888;
$link-color: #7ce3cb;
$button-color: #f3f3f3;
$secondary-black-color: #404141;
$green-color: #7ce3cb;
$violet-color: #7963b2;
$pink-color: #d233f2;
$black-color: #030303;
$black-line-color: $secondary-black-color;
$primary-border: linear-gradient(to left, $green-color, $violet-color);
$secondary-border: $tertiary-color;
$dropdown-bgd: #030303;
$dropdown-border-color: rgba(#404141, 0.6);
$dropdown-shadow: 0px 4px 8px rgba(148, 223, 203, 0.5);
$tooltip-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
$error-color: $pink-color;
$progressbar-info: #6699ff;
$progressbar-success: #57d4a2;
$progressbar-warning: #ffc53d;
$progressbar-error: $pink-color;

// FONT-SIZES
$heading-1: 136px;
$heading-2: 91px;
$heading-3: 50px;
$heading-4: 40px;
$heading-5: 27px;
$text-xlarge: 40px;
$text-large: 27px;
$text-normal: 18px;
$text-small: 14px;
$text-xsmall: 12px;

// LINE HEIGHTS
$lh-heading-1: 164px;
$lh-heading-2: 104px;
$lh-heading-3: 60px;
$lh-heading-4: 52px;
$lh-heading-5: 35px;
$lh-xlarge: 52px;
$lh-large: 40px;
$lh-normal: 28px;
$lh-small: 17px;
$lh-xsmall: 18px;

// SPACINGS
$space-xxxl: 48px;
$space-xxl: 40px;
$space-xl: 32px;
$space-lg: 24px;
$space-md: 16px;
$space-sm: 12px;
$space-xs: 8px;
$space-xxs: 4px;

// BREAKPOINTS
$min-xs: 360px;
$max-xs: 359px;
$min-sm: 576px;
$max-sm: 575px;
$min-md: 768px;
$max-md: 767px;
$min-lg: 992px;
$max-lg: 991px;
$min-xl: 1200px;
$max-xl: 1199px;
