@import '../../../styles/variables.module.scss';

.unstakeBanner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-lg 0;
  border-top: 1px solid rgba(124, 227, 203, 0.4);
  border-bottom: 1px solid rgba(124, 227, 203, 0.4);
  margin-bottom: 2 * $space-xl;

  @media (max-width: $max-md) {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: $space-lg;
    }
  }
}

.unstakeBannerWrap {
  display: flex;
  align-items: center;
  margin-right: $space-lg;

  @media (max-width: $max-sm) {
    margin-right: 0;
    margin-bottom: $space-md;
  }

  & > img {
    margin-right: $space-lg;
  }
}

.buttonPanel {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: $space-xxl;
  }
}
