@import '../../../styles/variables.scss';

.unstakeBanner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-lg 0;
  border-top: 1px solid rgba(124, 227, 203, 0.4);
  border-bottom: 1px solid rgba(124, 227, 203, 0.4);
  margin-bottom: 2 * $space-xl;
}

.unstakeBannerWrap {
  display: flex;
  align-items: center;
  margin-right: $space-lg;

  & > img {
    margin-right: $space-lg;
  }
}
