@import '../../styles/variables.module.scss';

.proposalDetailsSubheader {
  display: flex;
  align-items: center;
  margin-bottom: $space-xs;
  & > * {
    margin-right: $space-md;
  }
  & > *:last-child {
    margin-right: 0;
  }
}

.proposalDetailsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: $space-lg;
  & > * {
    margin-right: $space-xl;
  }
  & > *:last-child {
    margin-right: 0;
  }
}

.proposalDetailsTimer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.proposalDetailsVoteSection {
  text-align: center;
  margin: $space-lg 2 * $space-xxl 2 * $space-xl;

  & > *:last-child {
    margin-top: $space-xl;
  }
}

.proposalDetailsSummary {
  margin: 0 2 * $space-xl 2 * $space-xl;
}

.proposalDetailsItem {
  margin-top: $space-xl;
  & > * {
    margin-bottom: $space-xxs;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
