@import '../../styles/variables.module.scss';

$footer-height: 70px;
$footer-height-media-sm: 200px;

.layout {
  background: $black-color;
  min-height: 100vh;
  position: relative;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1020px;
  margin: 0 auto;
  padding-top: $space-xxl;
  padding-right: $space-xxl;
  padding-left: 184px;
  padding-bottom: 2 * $space-xxl;

  @media (max-width: $max-lg) {
    padding-left: 110px;
  }

  @media (max-width: $max-md) {
    padding-top: $space-xxxl;
    padding-right: $space-lg;
    padding-left: 2 * $space-xxl;
  }

  @media (max-width: $max-sm) {
    padding: $space-lg;
    padding-bottom: $space-xxxl;
  }
}

.layoutTexture {
  position: absolute;
  bottom: $footer-height;
  right: 0;

  @media (max-width: $max-sm) {
    bottom: $footer-height-media-sm;
  }
}

.footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  background: black;
  z-index: 30;
  height: $footer-height;
  border-top: 1px solid rgba($green-color, 0.5);

  @media (max-width: $max-sm) {
    height: $footer-height-media-sm;
  }

  &Content {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
}

.externalLinkButton {
  button {
    color: $secondary-color;
  }
}

.linkSeparator {
  @media (max-width: $max-sm) {
    display: none; // Hide the link separators in smaller resolutions
  }
}

.noUnderline {
  text-decoration: none;

  button {
    text-decoration: none !important;
  }
}

.linkSpacing {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $max-sm) {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: $space-lg;
      margin-right: 0 !important; // override the spacing for horizontal layout
    }
  }

  & > *:not(:last-child) {
    margin-right: $space-md;
  }
}
