@import '../../styles/variables.module.scss';

.layout {
  background: $black-color;
  min-height: 100vh;
  position: relative;
}

.content {
  display: flex;

  // Make sure the texture is behind the content
  position: relative;
  z-index: 1;
}

.main {
  max-width: min(calc(100vw - 170px), 1024px);
  min-height: calc(100vh - #{$navigation-height} - #{$footer-height});
  margin: 0 auto;
  padding: 0 $space-xxl;
  padding-bottom: 2 * $space-xxl;
  box-sizing: border-box;
  flex: 1;

  @media (max-width: $max-sm) {
    max-width: unset;
    min-height: calc(100vh - #{$navigation-height} - #{$footer-height-media-sm});
    padding: $space-lg;
    padding-bottom: $space-xxxl;
  }

  @media (max-width: $max-lg) {
    max-width: calc(100vw - 100px);
  }

  @media (max-width: $max-md) {
    max-width: calc(100vw - 80px);
  }

  @media (max-width: $max-sm) {
    max-width: calc(100vw - 50px);
    min-height: calc(100vh - #{$navigation-height} - #{$footer-height-media-sm});
    padding: unset;
    padding-bottom: $space-xxxl;
  }
}

.layoutTexture {
  position: absolute;
  bottom: $footer-height;
  right: 0;

  @media (max-width: $max-sm) {
    bottom: $footer-height-media-sm;
  }
}

.footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  background: black;
  z-index: 30;
  height: $footer-height;
  border-top: 1px solid rgba($green-color, 0.5);

  @media (max-width: $max-sm) {
    height: $footer-height-media-sm;
  }

  &Content {
    display: flex;
    flex: 1;
    justify-content: space-around;
    font-size: $text-small;

    a:hover {
      transform: scale(1.02);
    }
  }
}

.externalLinkButton {
  color: $secondary-color;
}

.linkSeparator {
  @media (max-width: $max-sm) {
    display: none; // Hide the link separators in smaller resolutions
  }
}

.noUnderline {
  text-decoration: none !important;
}

.linkSpacing {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $max-sm) {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: $space-lg;
      margin-right: 0 !important; // override the spacing for horizontal layout
    }
  }

  & > *:not(:last-child) {
    margin-right: $space-md;
  }
}
