@import '../../../../styles/variables.module.scss';

.proposalStatus {
  text-align: center;
  font-weight: 600;
}

.failing {
  color: $pink-color;
}

.passing {
  color: $green-color;
}

.rejected {
  color: $pink-color;
}

.executed {
  color: $green-color;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: $space-xs;

  img {
    margin-top: 0;
  }
}

.execute {
  font-size: $text-xsmall;
  line-height: 28px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
