@import '../../../styles/variables.module';

.policyList {
  padding: 0;
  list-style: none;
}

.policyItem {
  border-top: 1px solid $black-line-color;

  @media (min-width: $min-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.policyItemMain {
  flex-grow: 1;
  font-weight: 500;
  box-sizing: border-box;
  padding-top: $space-xxl;
  padding-bottom: $space-xxl;
  padding-right: 0;

  @media (min-width: $min-sm) {
    padding-top: $space-lg;
    padding-bottom: $space-lg;
  }

  @media (min-width: $min-md) {
    padding-right: $space-xxxl;
  }

  @media (min-width: $min-xl) {
    padding-right: $space-xl;
  }
}

.policyItemTitle {
  display: block;
  margin-bottom: $space-md;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $primary-color;
  text-decoration: none;

  @media (min-width: $min-sm) {
    margin-bottom: $space-xxs;
  }
}

.policyItemInfo {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  font-size: $text-xsmall;
  line-height: $lh-xsmall;

  @media (min-width: $min-sm) {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $min-lg) {
    max-width: 80ch;
  }

  & > *:nth-child(1) {
    @media (min-width: $min-sm) {
      width: 8ch;
    }

    @media (min-width: $min-lg) {
      width: 10ch;
    }
  }

  & > *:nth-child(2) {
    @media (min-width: $min-sm) {
      width: 20ch;
    }

    @media (min-width: $min-lg) {
      width: 34ch;
    }
  }

  & > *:nth-child(3) {
    flex: 1;
  }
}

.infoEntry {
  @media (min-width: $min-sm) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $min-lg) {
    flex-direction: row;
    gap: 1ch;
  }
}

.policyItemAction {
  display: flex;
  align-items: center;

  a {
    display: none;
  }

  @media (min-width: $min-md) {
    a {
      display: flex;
      align-items: center;
      margin-left: $space-md;
    }
  }
}

.tooltip {
  max-width: 40ch;
}

.mobileActiveStatus {
  font-size: $text-xsmall;
  line-height: $lh-small;
  margin-bottom: 6px;

  @media (min-width: $min-sm) {
    display: none;
  }
}

.desktopActiveStatus {
  display: none;

  @media (min-width: $min-sm) {
    display: inline;
  }
}

.active {
  color: $green-color;
  font-weight: 600;
}

.inactive {
  color: $pink-color;
  font-weight: 600;
}
