@import '../../styles/variables.module.scss';

.emptyState {
  color: $tertiary-color;
  text-align: center;
  margin: 15vh $space-md;
  transform: translateY(-50%);
  font-size: $text-small;

  & > * {
    margin-right: $space-xs;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: $space-md;

  & > * {
    margin-right: $space-lg;

    @media (max-width: $max-md) {
      margin-right: $space-md;
    }
  }

  & > *:last-child {
    margin-right: 0;
  }
}
