@import '../../styles/variables.module.scss';

.navigation {
  height: $navigation-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $space-xxl;
  box-sizing: border-box;

  // Make sure the texture is behind the navigation
  position: relative;
  z-index: 1;

  @media (max-width: $max-md) {
    padding: 0 $space-lg;
  }

  @media (max-width: $max-sm) {
    flex-direction: column;
  }
}

.navigationMenu {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: $max-sm) {
    width: 100%;
    justify-content: space-between;
    padding-bottom: $space-lg;
  }
}
