@import '../../styles/variables.module.scss';

.navigation {
  height: $navigation-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;

  a {
    height: 24px;

    .api3DaoLogo {
      height: 24px;
      width: 103px;
    }
  }

  @media (min-width: $md) {
    flex-direction: row;
    padding: 0 40px;

    a {
      height: 34px;

      .api3DaoLogo {
        height: 34px;
        width: 160px;
      }
    }
  }
}

.navigationMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  box-sizing: border-box;
  height: 56px;
  width: 100%;

  @media (min-width: $md) {
    align-self: center;
    height: unset;
  }
}
