@import '../../styles/variables.module.scss';

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-xl $space-xxl;

  @media (min-width: $min-sm) {
    height: 46px;
  }

  @media (max-width: $max-md) {
    padding: $space-lg;
  }

  @media (max-width: $max-sm) {
    flex-direction: column;
  }
}

.navigationMenu {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: $max-sm) {
    width: 100%;
    justify-content: space-between;
    padding-bottom: $space-lg;
  }
}

.logo {
  height: 36px;
  width: 116px;
}
