@import '../../styles/variables.scss';

.proposal-filter-tab {
  .button {
    padding: $space-sm;
    text-decoration: none;
  }

  &.active {
    text-underline-offset: $space-xs;
    text-decoration: underline;
  }
}

.history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.history-treasury {
  margin-top: -30px;
}
