@import '../../styles/variables.module.scss';

.button {
  // Ugly solution to overcome specificity issues
  padding: $space-sm !important;
  text-decoration: none !important;
}

.active {
  text-underline-offset: $space-xs;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.treasury {
  margin-top: -30px;
}

.borderBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
}
