@import '../../styles/variables.module.scss';

.filterButton {
  button {
    padding: $space-sm !important;
    text-decoration: none !important;
  }
}

.active {
  text-underline-offset: $space-xs;
  text-decoration: underline;
}

.header {
  margin-bottom: 80px;

  @media (min-width: $min-md) {
    display: flex;
    justify-content: space-between;
  }
}

.treasury {
  margin-top: -30px;
}

.borderBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
}

.radioButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: $space-md;

  & > * {
    margin-right: $space-lg;

    @media (max-width: $max-md) {
      margin-right: $space-md;
    }
  }

  & > *:last-child {
    margin-right: 0;
  }
}
