@import '../../styles/variables.scss';

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba($black-color, 0.9);
  padding: $space-xxl;
}

.modal-body {
  position: relative;
  max-width: 550px;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.modal {
  background-color: $black-color;
  position: relative;
  overflow: visible;
  max-height: 100%;
  width: 100%;
  border: 1px solid;
  border-image-source: $primary-border;
  border-image-slice: 1;
  text-align: center;
  color: $secondary-color;
  padding: 2 * $space-xxl;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: $space-xxl;
  right: $space-xxl;
  cursor: pointer;
  transition: transform 0.35s;

  &:hover {
    transform: scale(1.2);
  }

  ._hidden {
    display: none;
  }
}

.modal-footer {
  margin-top: 2 * $space-xxl;
}

.modal-header {
  margin-bottom: $space-xxxl;
}
