@import '../../styles/main.scss';

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black-color;
}

// TODO: add animation?
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $black-color;
  border: 1px solid;
  border-image-source: $primary-border;
  border-image-slice: 1;
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $secondary-color;
  padding: 2 * $space-xxl;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: $space-xxl;
  right: $space-xxl;
  cursor: pointer;
  transition: transform 0.35s;

  &:hover {
    transform: scale(1.2);
  }

  ._hidden {
    display: none;
  }
}

.modal-footer {
  margin-top: 2 * $space-xxl;
}

.modal-header {
  margin-bottom: $space-xxxl;
}

.tokenAmountModal-token {
  margin-bottom: $space-lg;
  text-transform: uppercase;
}
