@import '../../styles/variables.scss';

.bordered-box {
  display: flex;
  width: 100%;

  &.grey {
    .bordered-box-col,
    .bordered-box-innerWrap._borderBottom {
      border-color: $secondary-border;
    }
  }

  &.green {
    .bordered-box-col,
    .bordered-box-innerWrap._borderBottom {
      border-color: $green-color;
    }
  }
}

.bordered-box-col {
  width: 32px;
  border-width: 1px;
  border-style: solid;
  flex-shrink: 0;

  &._right {
    border-left-width: 0;
  }

  &._left {
    border-right-width: 0;
  }
}

.bordered-box-innerWrap {
  width: 100%;
  padding: 0 $space-xs;
  &._borderBottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.bordered-box-data {
  margin-bottom: $space-lg;
  text-align: center;
}

.bordered-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);

  &._alignCenter {
    justify-content: center;
  }
  &._ml-lg {
    margin-left: $space-lg;
  }
}

.bordered-box-footer {
  margin-top: $space-lg;
  text-align: center;
  transform: translateY(50%);
}
