@import '../../styles/variables.module.scss';

.borderedBox {
  display: flex;
  width: 100%;
}

.borderGrey {
  .borderedBoxCol,
  .borderedBoxContent.borderBottom {
    border-color: $secondary-border;
  }
}

.borderGreen {
  .borderedBoxCol,
  .borderedBoxContent.borderBottom {
    border-color: $green-color;
  }
}

.borderedBoxCol {
  width: 32px;
  border-width: 1px;
  border-style: solid;
  flex-shrink: 0;

  &.right {
    border-left-width: 0;
  }

  &.left {
    border-right-width: 0;
  }
}

.borderedBoxContent {
  width: 100%;
  padding: 0 $space-xs;
  &.borderBottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.borderedBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);

  &.alignCenter {
    justify-content: center;
  }

  &.largeSpaces {
    margin: 0 $space-lg;
  }
}

.borderedBoxFooter {
  margin-top: $space-lg;
  text-align: center;
  transform: translateY(50%);
}
