@import '../../../styles/variables.scss';

.vote-form {
  text-align: center;
}

.vote-form-content {
  margin-top: $space-xxxl;
  margin-bottom: 2 * $space-xxl;
  display: flex;
  justify-content: center;
}
