@import '../../styles/main.scss';

.header {
  position: relative;
  margin-bottom: 2.5 * $space-xxl;
  h4 {
    text-transform: capitalize;
  }
}

.header-title {
  position: absolute;
  bottom: -20px;
  text-transform: capitalize;
  background-image: linear-gradient(76.31deg, #c3c4c3 2.01%, #f3f3f3 99.02%);
  background-clip: text;
  color: transparent;
  opacity: 0.1;
}

.header-subtitle {
  color: $tertiary-color;
  line-height: 21px;
  text-transform: uppercase;
}
