@import '../../../styles/variables.scss';

.tokenAmountModal-token {
  margin-bottom: $space-lg;
  text-transform: uppercase;
}

.depositModal-balance {
  margin-top: $space-lg;
}

.tokenAmountModal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  margin-top: $space-lg;
  color: red;
}
