@import '../../../styles/variables.module.scss';

.treasury {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > *:first-child {
    padding-bottom: $space-xs;
  }
  & > * {
    border-bottom: 1px solid $black-line-color;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.treasuryButton {
  flex: 1;
  display: flex;
  align-items: center;
  padding: $space-xs 0;
}

.label {
  color: $secondary-color;
  text-transform: capitalize;
}

.treasuryMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  margin-left: $space-sm;
  transition: transform 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}
