@import '../../styles/variables.module.scss';

/*
* NOTE: Use these classes to style notification content.
*
* react-toastify defaults can be overridden in react-toastify-overrides.scss.
* This would include styling for things like backgrounds and containers
*/

.notificationBody {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: $space-lg;
  box-sizing: border-box;

  &.url {
    padding-bottom: $space-md;
  }
}

.notificationContent {
  flex: 1;
  margin-left: $space-sm;
  margin-top: $space-xxs;
}

.closeButton {
  position: absolute;
  top: $space-sm;
  right: $space-sm;
}

.notificationButton {
  background-color: $black-color;
  color: $primary-color;
  padding: 6px 20px;
  font-size: $text-xsmall;
  line-height: 20px;
  font-weight: 600;
  border-radius: 16px;
  text-decoration: none;
}

.notificationUrl {
  display: flex;
  justify-content: flex-end;
  margin-top: $space-md;
}
