@import '../../styles/variables.module.scss';
@import '../../styles/fonts.module.scss';

/*
* NOTE: Use these classes to style notification content.
*
* react-toastify defaults can be overridden in react-toastify-overrides.scss.
* This would include styling for things like backgrounds and containers
*/

.notificationBody {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 6px;
  padding: 32px;
  box-sizing: border-box;

  &.url {
    padding-bottom: $space-md;
  }
}

.notificationContent {
  flex: 1;
  @include font-body-8;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;

  svg {
    width: 20px;
    height: 20px;

    @media (min-width: $md) {
      width: 24px;
      height: 24px;
    }
  }
}

.notificationButton {
  background-color: $black-color;
  color: $primary-color;
  padding: 6px 20px;
  font-size: $text-xsmall;
  line-height: 20px;
  font-weight: 600;
  border-radius: 16px;
  text-decoration: none;
}

.notificationUrl {
  display: flex;
  justify-content: flex-end;
  margin-top: $space-md;
}

.icon {
  width: 22px;
  height: 22px;

  &.success {
    color: $color-action-success-500;
  }

  &.error {
    color: $color-action-error-500;
  }

  &.warning {
    color: $color-action-warning-500;
  }

  &.info {
    color: $color-action-info-500;
  }
}

.progressBarBackground {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;

  &.success {
    background-color: $color-action-success-500;
  }

  &.error {
    background-color: $color-action-error-500;
  }

  &.warning {
    background-color: $color-action-warning-500;
  }

  &.info {
    background-color: $color-action-info-500;
  }
}
