@import '../../styles/variables.module.scss';

/*
* NOTE: Use these classes to style notification content.
*
* react-toastify defaults can be overridden in react-toastify-overrides.scss.
* This would include styling for things like backgrounds and containers
*/

.notificationBody {
  display: flex;
  align-items: flex-start;
}

.notificationContent {
  margin-left: $space-md;
}

.notificationTitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: $space-xxs;
}

.closeButton {
  margin-top: 2px;
}
