@import '../../../styles/variables.scss';

.proposal-item {
  display: flex;
  align-items: center;
  border-top: 1px solid $black-line-color;
  padding-top: $space-md;
  padding-bottom: $space-lg;
}

.proposal-item-wrapper {
  max-width: calc(100% - 330px);
  width: 60%;
  padding-right: $space-xxxl;
}

.proposal-item-title {
  color: $primary-color;
  margin-bottom: $space-xxs;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.proposal-item-voteId {
  margin-right: $space-xs;
}

.proposal-item-voter-states {
  color: $primary-color;
}

.proposal-item-subtitle {
  display: flex;
  align-items: center;
}

.proposal-item-box {
  display: flex;
  align-items: center;

  &._mr-lg {
    margin-right: 2 * $space-xl;
  }
  &._date {
    min-width: 200px;
    margin-right: $space-lg;
  }
}

.proposal-item-voteBar {
  max-width: 330px;
  width: 100%;
  display: flex;
  align-items: center;

  & > * {
    margin-right: $space-lg;
  }

  & > *:last-child {
    margin-right: 0;
  }
}
