@import '../../../styles/variables.module.scss';

.status {
  font-weight: 600;

  &.unvoted {
    color: $secondary-color;
  }

  &.votedAgainst {
    color: $pink-color;
  }

  &.votedFor {
    color: $green-color;
  }
}

.wrapperLarge {
  display: flex;
  justify-content: center;
  margin: $space-xxl 0;
}

.icon {
  margin-right: $space-sm;
  height: 25px;
}
