@import '../../../styles/variables.module.scss';
@import '../../../styles/fonts.module.scss';

.status {
  &.unvoted {
    color: $color-dark-blue-100;
  }

  &.votedAgainst {
    color: $color-action-error-800;
  }

  &.votedFor {
    color: $color-action-success-700;
  }
}

.wrapperLarge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0 48px 0;
  @include font-body-11;

  @media (min-width: $md) {
    @include font-body-5;
  }
}

.icon {
  margin-right: $space-sm;
  height: 25px;
}
