@import '../../styles/variables.scss';

.proposals-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2 * $space-xxl;
}

.proposals-link {
  button._normal {
    padding: 0;
  }
}
