@import '../../styles/variables.scss';

.proposalsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2 * $space-xxl;
}

.proposalsLink {
  button._normal {
    padding: 0;
  }
}
