@import '../../styles/variables.module.scss';

.proposalsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2 * $space-xxl;

  @media (max-width: $max-md) {
    flex-direction: column-reverse;

    & > *:last-child {
      margin-bottom: $space-xxxl;
    }
  }
}

.checklistHelperText {
  color: $secondary-black-color;
  font-size: $text-xsmall;
}
