@import '../../../styles/variables.module.scss';

.backBtn {
  button {
    color: $secondary-color;
    text-decoration: none !important;
  }
}

.proposalDetailsSubheader {
  display: flex;
  align-items: center;
  margin-bottom: $space-xs;
  & > * {
    margin-right: $space-md;
  }
  & > *:last-child {
    margin-right: 0;
  }
}

.proposalDetailsHeader {
  margin-bottom: $space-lg;

  @media (min-width: $min-md) {
    display: flex;
    justify-content: space-between;
  }
}

.proposalDetailsTitle {
  font-size: $heading-4;
  line-height: $lh-heading-4;
  font-weight: 600;
  margin-right: $space-xl;
  margin-bottom: $space-lg;

  @media (max-width: $max-md) {
    font-size: $heading-5;
    line-height: $lh-heading-5;
    margin-right: 0;
  }
}

.proposalTag {
  @media (max-width: $max-md) {
    margin-bottom: $space-xl;
  }
}

.proposalDetailsTimer {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-md) {
    align-items: flex-end;
  }
}

.proposalDetailsVoteSection {
  text-align: center;
  margin: $space-lg 2 * $space-xxl 2 * $space-xl;

  & > *:last-child {
    margin-top: $space-xl;
  }

  @media (max-width: $max-md) {
    margin-right: 0;
    margin-left: 0;
  }
}

.proposalDetailsSummary {
  margin: 0 2 * $space-xl 2 * $space-xl;

  @media (max-width: $max-md) {
    font-size: $text-small;
    line-height: $lh-small;
    margin: 0 0 $space-xxl;
  }
}

.address {
  @media (max-width: $max-md) {
    overflow-wrap: break-word;
  }
}

.proposalDetailsItem {
  margin-top: $space-xl;
  & > * {
    margin-bottom: $space-xxs;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.multiline {
  white-space: pre-wrap;
}

.voteButtonHelperText {
  color: $error-color;
  font-size: $text-small;
  margin-top: $space-md;
}
