@import './variables.scss';

.evaluatingIndicator {
  display: none;
  font-size: $text-xsmall;
  line-height: $lh-xsmall;
  color: $tertiary-color;

  @media (min-width: $min-desktop-width) {
    display: inline-flex;
    align-items: center;
    gap: 0.5ch;
  }

  svg {
    height: 14px;
    width: 18px;
    min-width: 18px;
  }

  button {
    background: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin-left: 0.5ch;
    svg {
      height: 20px;
      width: 20px;
      color: $secondary-color;
    }
  }
}
