@import '../../styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  margin-bottom: 80px;

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    form {
      max-width: 28ch;
    }
  }
}

.emptyState {
  color: $secondary-color;
  text-align: center;
  word-break: break-word;
  margin: 15vh $space-md;
  transform: translateY(-50%);
  font-size: $text-small;
}

.connectButton {
  padding-left: 1ch;
}

.myClaimsHeader {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $min-sm) {
    transform: translateY(5%);
  }

  @media (min-width: $min-md) {
    transform: translateY(0%);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.filters {
  display: flex;
  align-items: center;

  button {
    font-weight: 500;
    margin-left: auto;
    margin-bottom: 0;
  }

  @media (min-width: $min-sm) {
    button {
      transform: translateY(-42%);
    }
  }

  @media (min-width: $min-md) {
    justify-content: flex-end;

    button {
      transform: translateY(0%);
      margin-left: $space-lg;
    }
  }

  & > * {
    margin-right: $space-lg;

    @media (max-width: $max-md) {
      margin-right: $space-md;
    }
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.highlight {
  color: $primary-color;
}

.pagination {
  margin-bottom: -28px;
}
