@import '../../../styles/variables.scss';

.pending-unstake-content {
  display: flex;
  flex-direction: column;
}

.pending-unstake-row {
  width: 100%;
  display: flex;
  margin-top: $space-lg;
  &._amount {
    align-items: center;
  }
  &._deadline {
    margin-top: $space-md;
    margin-bottom: $space-sm;
  }
}

.pending-unstake-title {
  color: $green-color;
  margin-top: $space-lg;
}

.pending-unstake-name {
  flex: 0 0 40%;
  text-align: right;
  margin-right: $space-md;
}

.pending-unstake-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $space-md;
  margin-bottom: $space-xs;
}

.pending-unstake-countdown {
  display: flex;
}

.pending-unstake-countdown-item {
  text-align: center;
  & > * {
    margin-bottom: $space-xxs;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.colon {
  margin: 0 $space-xxs;
}
