@import '../../../styles/variables.scss';

.delegate-votes-modal-subtitle {
  margin-bottom: $space-md;
}

.new-proposal-form-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: $space-xxxl;
}

.new-proposal-form-name {
  width: 40%;
  color: $secondary-color;
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
  padding-right: $space-xl;
  margin-top: 6px;
}

.new-proposal-form-input {
  width: 60%;
}

.new-proposal-form-radio-buttons {
  display: flex;
  align-items: center;
}

.new-proposal-form-radio {
  width: 50%;
  padding-right: $space-xs;

  input,
  label {
    cursor: pointer;
  }

  label {
    margin-left: $space-xs;
    color: $primary-color;
  }

  &._checked {
    label {
      color: $tertiary-color;
    }
  }
}
