@import '../../../styles/variables.module.scss';
@import '../../../styles/fonts.module.scss';

.newProposalModalContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 650px;

  @media (min-width: $md) {
    max-width: unset;
  }
}

.proposalFormItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  @media (min-width: $sm) {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

.proposalFormItemName {
  @include font-body-9;
  color: $color-dark-blue-100;
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    color: $color-dark-blue-50;
  }

  @media (min-width: $sm) {
    min-width: 240px;
    justify-content: flex-end;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: $md) {
    @include font-description-6;
    min-width: 280px;
  }
}

.proposalFormItemContent {
  display: flex;
  align-items: center;
}

.proposalTypeRadioButtons {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-top: 10px;

  @media (min-width: $sm) {
    margin-top: 0;
  }
}

.error {
  color: $error-color;
}

.marginTopMd {
  margin-top: $space-md;
}
