@import '../../../styles/variables.module.scss';

.newProposalFormItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: $space-xxxl;
}

.newProposalFormName {
  font-size: $text-small;
  line-height: 17px;
  width: 40%;
  color: $secondary-color;
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
  padding-right: $space-xl;
  margin-top: 6px;
}

.newProposalFormInput {
  width: 60%;
}

.newProposalFormRadioButtons {
  display: flex;
  align-items: center;

  & > * {
    width: 50%;
  }
}

.error {
  color: $error-color;
}
