@import '../../../styles/variables.module.scss';

.newProposalFormItem {
  margin-bottom: $space-xxxl;

  @media (min-width: $min-md) {
    display: flex;
    align-items: flex-start;
  }
}

.newProposalFormName {
  font-size: $text-small;
  line-height: 17px;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: 500;
  padding-right: $space-xl;

  @media (min-width: $min-md) {
    width: 40%;
    text-align: right;
    margin-top: 6px;
  }

  @media (max-width: $max-md) {
    margin-bottom: $space-md;
  }
}

.newProposalFormInput {
  @media (min-width: $min-md) {
    width: 60%;
  }
}

.newProposalFormRadioButtons {
  @media (min-width: $min-sm) {
    display: flex;
    align-items: center;

    & > * {
      width: 50%;
    }
  }
}

.error {
  color: $error-color;
}

.marginTopMd {
  margin-top: $space-md;
}
