@import '../../styles/variables.module.scss';

.formContainer {
  max-width: 380px;
  margin-bottom: 80px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: $space-md;

  & > * {
    margin-right: $space-lg;

    @media (max-width: $max-md) {
      margin-right: $space-md;
    }
  }

  & > *:last-child {
    margin-right: 0;
  }
}
