@import '../../../../styles/variables.module.scss';

.error {
  margin-top: $space-xl;
  color: $error-color;
  text-align: center;
}

.subtext {
  color: $tertiary-color;
  margin-top: $space-xxxl;
}
