@import '../../../styles/variables.module.scss';
@import '../../../styles/fonts.module.scss';
@import '../../../styles/link-styles.module.scss';
@import '../layout.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 221px;
  background: $color-dark-blue-700;
  align-items: center;

  @media (min-width: $md) {
    height: 92px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: $gradient-medium-light;
  }
}

.closeButton {
  z-index: 1;
  height: 24px;
  align-self: flex-end;
  margin: 20px 24px;
  position: absolute;
  color: $color-base-light;
  cursor: pointer;

  &:hover {
    color: $color-blue-25;
  }
}

.content {
  padding: 64px 24px 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  flex-direction: column;
  @include font-body-15;
  color: $color-gray-200;

  @media (min-width: $md) {
    flex-direction: row;
    gap: 80px;
    padding: 24px 0;
    max-width: 948px;
    @include font-body-12;
  }
}

.buttons {
  display: flex;
}

.checkboxWrapper {
  min-width: 160px; // Make sure the checkbox and its label are on a single line
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }

  input {
    $size: 16px;

    width: $size;
    height: $size;
    margin-right: $space-xs;
    appearance: none;
    border: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: $secondary-black-color;
    cursor: pointer;
  }

  input:checked {
    background-color: $green-color;
  }

  input:checked::before {
    content: '\2713';
    text-align: center;
    color: $secondary-black-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  input:active {
    border: 2px solid $secondary-black-color;
  }
}

.notice {
  max-width: 550px;

  a {
    text-decoration: none;
    @include link-blue;
  }
}

.externalLinkIcon {
  margin-left: 4px;
}
