@import '../../styles/variables.module.scss';

.actionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary-color;
  text-align: center;
  margin-bottom: 4rem;
  word-break: break-word;
}

.actionMainInfo {
  font-size: $heading-5;
  line-height: $lh-heading-5;
  font-weight: bold;
  margin-bottom: 4rem;
}

.approved {
  color: $green-color;
  svg {
    margin-right: 0.5ch;
  }
}

.rejected {
  color: $pink-color;
  svg {
    margin-right: 0.75ch;
  }
}

.actionPanel {
  margin-bottom: $space-md;
  & > * {
    margin-right: $space-xl;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.actionMessage {
  color: $tertiary-color;
  font-weight: 400;
  max-width: 50ch;
}
