@import '../../styles/variables.module.scss';

.actionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary-color;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  word-break: break-word;
}

.heading {
  margin-bottom: 40px;
}

.actionMainInfo {
  font-size: $heading-5;
  line-height: $lh-heading-5;
  font-weight: 600;
  margin-bottom: 40px;
}

.approved {
  color: $green-color;
  svg {
    margin-right: 0.5ch;
  }
}

.rejected {
  color: $pink-color;
  svg {
    margin-right: 0.75ch;
  }
}

.actionPanel {
  margin-bottom: $space-md;
  & > * {
    margin-right: $space-xl;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.actionMessage {
  max-width: 52ch;
}

.coverageMessage {
  margin-top: 40px;
  max-width: 52ch;
}

.mediator {
  display: flex;
  align-items: center;
  svg {
    height: 18px;
  }
}

.arbitrator {
  display: flex;
  align-items: center;
  svg {
    height: 18px;
  }
}

.warningIcon {
  color: $pink-color;
  transform: translateY(5px);
  width: 24px;
  margin-right: 1ch;
}
