@import '../../styles/variables.module.scss';

.body {
  text-align: center;
}

.cost {
  font-size: $text-large;
  line-height: $lh-large;
  font-weight: 600;
  margin-bottom: 3rem;

  @media (min-width: $min-sm) {
    font-size: $text-xlarge;
    line-height: $lh-heading-4;
  }
}

.info {
  margin-bottom: 1rem;
}

.buttonRow {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;

  button {
    font-weight: 500;
  }

  @media (min-width: $min-sm) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
