@import '../../styles/variables.module.scss';

.payoutAmount {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
}

.helpButton {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: none;
}
