@import '../../styles/variables.module.scss';

.backButtonRow {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: $text-small;
  font-weight: 400;
  color: $tertiary-color;

  & > * {
    padding: 0 6px;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.loading {
  color: $secondary-color;
  font-size: $text-small;
  margin-top: 20px;
}

.header {
  margin-bottom: 100px;
}

.heading {
  word-break: break-word;
  margin: 10px 0;
  font-size: $heading-5;
  line-height: $lh-heading-5;

  @media (min-width: $min-sm) {
    font-size: $heading-4;
    line-height: $lh-heading-4;
  }
}

.extraInfo {
  display: flex;
  gap: 16px;
  color: $tertiary-color;
  font-size: $text-small;
  font-weight: 400;

  .divider,
  .allowedUntil {
    display: none;
    @media (min-width: $min-sm) {
      display: inline;
    }
  }
}

.active {
  color: $green-color;
  font-weight: 600;
}

.inactive {
  color: $pink-color;
  font-weight: 600;
}

.detailsSection {
  margin: 0 2 * $space-xl 2 * $space-xl;

  @media (max-width: $max-md) {
    font-size: $text-small;
    line-height: $lh-small;
    margin: 0 0 $space-xxl;
  }

  .allowedUntil {
    display: block;
    @media (min-width: $min-sm) {
      display: none;
    }
  }
}

.detailsItem {
  margin-top: $space-xl;
  word-break: break-word;
  & > * {
    margin-bottom: $space-xxs;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
