@import '../../styles/variables.module.scss';

.sliderWrapper {
  margin-top: $space-xl;
  margin-bottom: 2 * $space-xl;
  // It styles slider-wrapper so that it does not pass through the arrows
  & > div > div > div {
    width: calc(100% - 100px) !important;
  }
}

.sliderContent {
  height: 156px;
  max-width: 627px;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0 auto;

  @media (max-width: $max-sm) {
    height: 190px;
    flex-direction: column;
    text-align: center;
  }
}

.sliderNumberWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $space-md;

  @media (max-width: $max-sm) {
    margin-right: 0;

    img {
      max-width: 100px;
    }
  }
}

.sliderNumber {
  font-size: $heading-2;
  line-height: $lh-heading-2;
  font-weight: 600;
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $secondary-border;

  @media (max-width: $max-md) {
    font-size: $heading-4;
    line-height: $lh-heading-4;
  }
}

.sliderText {
  font-size: $text-large;
  line-height: $lh-large;

  @media (max-width: $max-md) {
    font-size: $text-normal;
    line-height: $lh-normal;
  }

  @media (max-width: $max-sm) {
    margin-top: -$space-sm;
  }

  @media (max-width: 380px) {
    font-size: $text-small;
    line-height: $lh-small;
    margin-top: 0;
  }
}

.sliderDot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin: $space-xxs / 2;
  border: 1px solid $secondary-border;
  transform: translateY(20px);
  cursor: pointer;
  &.active {
    border-color: $green-color;
  }
}

.sliderArrow {
  position: absolute;
  top: 0;
  width: auto !important;
  pointer-events: all !important;
  z-index: 10;
  cursor: pointer;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.mobile {
    @media (min-width: $min-md) {
      display: none;
    }
  }

  &.desktop {
    @media (max-width: $max-md) {
      display: none;
    }
  }
}
