@import '../../styles/variables.module.scss';

.sliderWrapper {
  margin-top: $space-xl;
  margin-bottom: 2 * $space-xl;
  & > div > div > div {
    width: calc(100% - 100px) !important;
    padding: 0 50px;
  }
}

.sliderContent {
  height: 156px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 50px 2 * $space-xl;
}

.sliderNumberWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $space-md;
}

.sliderNumber {
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $secondary-border;
}

.sliderDot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin: $space-xxs / 2;
  border: 1px solid $secondary-border;
  transform: translateY(20px);
  cursor: pointer;
  &.active {
    border-color: $green-color;
  }
}

.arrow {
  position: absolute;
  top: 0;
  width: auto !important;
  pointer-events: all !important;
  z-index: 10;
  cursor: pointer;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
