@import '../../styles/variables.scss';

.slider-wrapper {
  margin-top: $space-xl;
  margin-bottom: 2 * $space-xl;
  .slider-wrapper {
    width: calc(100% - 100px);
    padding: 0 50px;
  }
}

.slider-content {
  height: 156px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 2 * $space-xl;
}

.slider-number-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $space-md;
}

.slider-number {
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $secondary-border;
}

.slider-dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin: $space-xxs / 2;
  border: 1px solid $secondary-border;
  transform: translateY(20px);
  cursor: pointer;
  &._active {
    border-color: $green-color;
  }
}

.arrow {
  position: absolute;
  top: 0;
  width: auto !important;
  pointer-events: all !important;
  z-index: 10;
  cursor: pointer;

  &._left {
    left: 0;
  }

  &._right {
    right: 0;
  }
}
