name: Continuous Build

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - production
      - dev

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Clone api3-dao-dashboard
        uses: actions/checkout@v6
      - name: Check hyperlinks
        uses: gaurav-nelson/github-action-markdown-link-check@v1

  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone api3-dao-dashboard
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.22.0
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Compile
        run: pnpm tsc
      - name: Test
        run: pnpm test

  cypress:
    runs-on: ubuntu-latest
    steps:
      - name: Clone api3-dao-dashboard
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.22.0
          cache: 'pnpm'
      - name: Install Dependencies
        run: |
          pnpm install
          pnpm cypress install
      - name: Increase file watcher limit
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: Prepare DAO contracts
        run: pnpm eth:prepare-dao-contracts-for-hardhat --github-actions
      - name: Use Node 16 for DAO contracts
        uses: actions/setup-node@v6
        with:
          node-version: 16
      - name: Bootstrap DAO contracts
        run: cd dao-contracts && npm run bootstrap
      - name: Restore Node 22
        uses: actions/setup-node@v6
        with:
          node-version: 22.22.0
      - name: Cypress tests
        env:
          REACT_APP_NODE_ENV: development
          REACT_APP_PROJECT_ID: e7e6e90622ec8e65c4d02e829a68529a
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          REACT_APP_MAINNET_PROVIDER_URL: ${{ secrets.REACT_APP_MAINNET_PROVIDER_URL }}
        run: pnpm percy exec -- pnpm ci:cypress
        timeout-minutes: 60
      - name: Store artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-artifacts
          path: cypress/screenshots
          if-no-files-found: ignore
