name: Continuous Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Clone api3-dao-dashboard
        uses: actions/checkout@master
      - name: Check hyperlinks
        uses: gaurav-nelson/github-action-markdown-link-check@v1

  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone api3-dao-dashboard
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Compile
        run: yarn tsc
      - name: Test
        run: yarn test

  cypress:
    runs-on: ubuntu-latest
    steps:
      - name: Clone api3-dao-dashboard
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - name: Cache node modules
        uses: actions/cache@v2
        id: node-modules-cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: modules-v2-${{ hashFiles('**/yarn.lock') }}
      - name: Cache cypress
        id: cypress-cache
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-cypress-v2-${{ hashFiles('**/yarn.lock') }}
          path: ~/.cache/Cypress
          restore-keys: ${{ runner.os }}-cypress-v2-
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Increase file watcher limit
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: Prepare DAO contracts
        run: yarn eth:prepare-dao-contracts-for-hardhat --github-actions
      - name: Bootstrap api3-dao contracts
        run: cd dao-contracts/api3-dao && yarn bootstrap
      - name: Cypress tests
        env:
          REACT_APP_NODE_ENV: development
        run: yarn ci:cypress
        timeout-minutes: 60
      - name: Store artifacts
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
