@import '../../../styles/variables.scss';

.stakingPool {
  display: flex;
  align-items: center;
  margin-top: $space-xxxl;
  margin-bottom: 100px;
}

.stakingTable {
  max-width: 200px;
  width: 100%;
  margin-right: 2 * $space-xxxl;

  &.twoCells {
    max-width: 400px;
    margin-right: $space-xxxl;
  }
}

.stakingTableRow {
  height: 96px;
  display: flex;
  align-items: center;
  padding: $space-md 0;
  border-top: 1px solid $black-line-color;
  box-sizing: border-box;
}

.stakingTableCell {
  width: 50%;
  padding: 0 $space-md;
  box-sizing: border-box;
  &.rightAlign {
    text-align: right;
  }
  &.oneCell {
    width: 100%;
  }
}

.stakingTableCellTitle {
  font-size: $text-xsmall;
  line-height: 18px;
  color: $secondary-color;
  font-weight: 500;
  text-transform: uppercase;
}
