@import '../../../styles/variables.module.scss';

.stakingPool {
  display: flex;
  align-items: center;
  margin-top: $space-xxxl;
  margin-bottom: 100px;

  @media (max-width: $max-md) {
    flex-direction: column;
    margin-top: $space-xxl;
  }
}

.stakingTable {
  min-width: 120px;

  @media (min-width: $min-xl) {
    &.oneCell {
      width: 200px;
    }

    &.twoCells {
      width: 400px;
    }
  }

  @media (min-width: $min-lg) {
    &.oneCell {
      margin-right: 2 * $space-xxxl;
    }

    &.twoCells {
      margin-right: $space-xxxl;
    }
  }

  @media (min-width: $min-md) {
    margin-right: $space-xxl;
  }

  @media (max-width: $max-md) {
    border-bottom: 1px solid $black-line-color;
    &.oneCell {
      display: flex;
      .stakingTableRow {
        border-top: 0;
        height: auto;
      }
    }
  }
}

.stakingTableRow {
  height: 96px;
  display: flex;
  align-items: center;
  padding: $space-md 0;
  border-top: 1px solid $black-line-color;
  box-sizing: border-box;
}

.stakingTableWrap {
  display: flex;
  align-items: center;

  @media (max-width: $max-md) {
    flex-direction: column-reverse;
  }
}

.stakingTableCell {
  width: 50%;
  padding: 0 $space-md;
  box-sizing: border-box;

  &.rightAlign {
    text-align: right;
  }
  &.oneCell {
    width: 100%;
  }

  @media (max-width: $max-xl) {
    padding: 0 $space-xs;
  }

  @media (max-width: $max-md) {
    &.oneCell {
      padding: 0 20px;
      text-align: center;
    }
  }
}

.stakingTableCellTitle {
  font-size: $text-xsmall;
  line-height: 18px;
  color: $secondary-color;
  font-weight: 500;
  text-transform: uppercase;
}

.stakingRadialChart {
  display: flex;

  @media (max-width: $max-md) {
    margin-top: $space-md;
  }
}

.stakingAnnualApy {
  font-size: $heading-3;
  line-height: $lh-heading-3;
  font-weight: 600;

  @media (max-width: $max-xl) {
    font-size: $heading-4;
    line-height: $lh-heading-4;
  }
}
