@import '../../../../styles/variables.scss';

.proposal-status {
  &.failing {
    color: $pink-color;
  }

  &.passing {
    color: $green-color;
  }

  &.rejected {
    color: $pink-color;
  }

  &.rejected {
    color: $pink-color;
  }

  &.executed {
    color: $green-color;
  }
}

.proposal-status-icon {
  margin: 0 $space-sm;
}

.proposal-status-execute {
  .button {
    padding: 0;
  }

  // TODO: Hack for specificity issues, the className is the same as `text-normal` from typography
  .text-large-override {
    font-size: 18px;
    line-height: 28px;
  }
}
