@import '../../../../styles/variables.module.scss';

.failing {
  color: $pink-color;
}

.passing {
  color: $green-color;
}

.rejected {
  color: $pink-color;
}

.rejected {
  color: $pink-color;
}

.executed {
  color: $green-color;
}

.icon {
  margin: 0 $space-sm;
}

.execute {
  .button {
    padding: 0;
  }

  // TODO: Hack for specificity issues, the className is the same as `text-normal` from typography
  .override {
    font-size: 18px;
    line-height: 28px;
  }
}

.flex {
  display: flex;
  justify-content: center;
}
